{% macro nav() %}
<nav class="nav">
    <a href="/">[Home]</a> 
    <a href="/blogs">[Blogs]</a> 
    <a href="/projects">[Projects]</a> 
    {% if config.generate_feed %}
    <a href="{{ get_url(path=config.feed_filename, trailing_slash=false) }}" target="_blank">[RSS feed]</a>
    {% endif %}
   <a href="https://codeberg.org/oomfie/site" target="_blank">[Source]</a> 
   <a href="/credits">[Credits]</a> 
</nav>
{% endmacro %}