{% extends "base.html" %}

{% block seo %}
  {{ super() }}
  {% set title = page.title %}
  
  {% if config.title %}
    {% set title_addition = title_separator ~ config.title %}
  {% else %}
    {% set title_addition = "" %}
  {% endif %}
  
  {% if page.description %}
    {% set description = page.description %}
  {% else %}
    {% set description = config.description %}
  {% endif %}
{{ macros_head::seo(title=title, title_addition=title_addition, description=description) }}
{% endblock seo %}

{% block content %}

<article class="post">
    <div class="gen">
        <a href="/"></a>
        <div></div>
    </button>
    </div>
    <time class="page-date" datetime="{{ page.date | date(format="%Y-%m-%dT%H:%M:%S") }}">
        {{ page.date | date(format= "%b %-d, %Y") }}
    </time>
    <h1 class="title">
        {{ page.title }}
    </h1>
        {{ page.content | safe }}
  </article>
  
  <section>
    <nav class="post-nav">
    </nav>
  </section>

{% endblock content %}
