{% extends "base.html" %}

{% block seo %}
  {{ super() }}
  {% set title = "Blogs" %}
  
  {% if config.title %}
    {% set title_addition = title_separator ~ config.title %}
  {% else %}
    {% set title_addition = "" %}
  {% endif %}
  
  {% if page.description %}
    {% set description = page.description %}
  {% else %}
    {% set description = config.description %}
  {% endif %}
{{ macros_head::seo(title=title, title_addition=title_addition, description=description, type="website") }}
{% endblock seo %}


{% block content %}
<section class="posts" id="Blog">
<div class="trolling anastasia">
    BLOGS
<span class="daniella noplus">█</span>
</div>
    {% for page in section.pages %}
  <p class="p" style="font-weight: 600;">
    <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
  </p>
  {% endfor %}
</section>
{% endblock content %}
