{% extends "base.html" %}

{% block seo %}
  {{ super() }}

  {% if config.title %}
    {% set title = config.title %}
  {% else %}
    {% set title = "" %}
  {% endif %}
  
  {% if config.extra.title_addition and title %}
    {% set title_addition = title_separator ~ config.extra.title_addition %}
  {% elif config.extra.title_addition %}
    {% set title_addition = config.extra.title_addition %}
  {% else %}
    {% set title_addition = "" %}
  {% endif %}
  
  {% set description = config.description %}
  
  {{ macros_head::seo(title=title, title_addition=title_addition, description=description, is_home=true, type="website") }}
{% endblock seo %}

{% block content %}
<section>
  <div class="trolling anastasia">
      Credits 
  <span class="daniella alittle">█</span>
  </div>
      <p class="p" >
          <a href="https://www.getzola.org">Zola (Framework)</a>
      </p>
      <p class="p" >
          <a href="https://github.com/cormullion/juliamono/">juliaMono (Font)</a>
      </p>
  </section>
  
  <section>
  <div class="trolling anastasia">
    Licenses 
  <span class="daniella license">█</span>
  </div>
  <p class="p" >
    <a href="https://codeberg.org/oomfie/site/raw/branch/main/Licenses/COPYING.CC-BY-SA">CC-BY-SA-4.0 (Content license)</a>
  </p>
  <p class="p" >
    <a href="https://codeberg.org/oomfie/site/raw/branch/main/Licenses/COPYING.AGPL-V3">AGPL-3.0-only (Site license)</a>
  </p>
  <p class="p" >
    <a href="https://codeberg.org/oomfie/site/raw/branch/main/Licenses/COPYING.NO-AI-ML-CLAUSE">No AI/ML clause (Site license clause)</a>
  </p>
  </section>
{% endblock content %}