{% extends "base.html" %}

{% block seo %}
  {{ super() }}

  {% if config.title %}
    {% set title = config.title %}
  {% else %}
    {% set title = "" %}
  {% endif %}
  
  {% if config.extra.title_addition and title %}
    {% set title_addition = title_separator ~ config.extra.title_addition %}
  {% elif config.extra.title_addition %}
    {% set title_addition = config.extra.title_addition %}
  {% else %}
    {% set title_addition = "" %}
  {% endif %}
  
  {% set description = config.description %}
  
  {{ macros_head::seo(title=title, title_addition=title_addition, description=description, is_home=true, type="website") }}
{% endblock seo %}

{% block content %}
<section>
  <p>
     <a href="/143/">Hello,</a> I'm Amy and I'm a graphic designer, code hobbyist,
     comically discovers bugs or issues and i love my gfs.
  </p>
</section>
<section id="contact">
  <h2 class="trolling anastasia">
    Contact 
	<span class="daniella alittle">█</span>
  </h2>
   <p>
    <a href="https://matrix.org/" target="_blank" rel="noopener noreferrer">[matrix]</a> : <a href="https://matrix.to/#/@cloudshire:tchncs.de" style="margin-left: 7px;">@cloudshire:tchncs.de</a>
   </p>
   <p>
    <a href="https://revolt.chat" target="_blank" rel="noopener noreferrer">Revolt</a> : @Amy.
   </p>
</section>
<section id="Socials">
  <h2 class="trolling anastasia">
    Socials 
	<span class="daniella alittle">█</span>
  </h2>
    <p>
      Codeberg: <a href="https://codeberg.org/oomfie" target="_blank" rel="noopener noreferrer" style="margin-left: 7px;">oomfie</a> 
   </p>
    <p>
      Fedi: <a href="https://snowdin.town/fake" target="_blank" rel="noopener noreferrer" style="margin-left: 7px;">@fake@snowdin.town</a> 
    </p>
    <p>
      Gitlab: <a href="https://gitlab.com/oomfie" target="_blank" rel="noopener noreferrer" style="margin-left: 7px;">oomfie</a>
    </p>
    <p>
      Github: <a href="https://gitlab.com/oomfiee" target="_blank" rel="noopener noreferrer" style="margin-left: 7px;">oomfiee</a>
    </p>  
</section>

<section id="Badges">
  <h2 class="trolling anastasia">
    Badges
	<span class="daniella">█</span>
  </h2>
  <img src="/media/oomfie.gif" title="badge 4 badge? owo" height="31">
  <a href="https://sfr.gay"><img src="https://cronut.cafe/~sfr/media/badges/ralsei.gif" title="Adorable bestie" height="31" style="margin-left: 7px;"></a>
</section>
{% endblock content %}
