{% extends "base.html" %}

{% block seo %}
  {{ super() }}
  {% set title = "Projects" %}
  
  {% if config.title %}
    {% set title_addition = title_separator ~ config.title %}
  {% else %}
    {% set title_addition = "" %}
  {% endif %}
  
  {% if page.description %}
    {% set description = page.description %}
  {% else %}
    {% set description = config.description %}
  {% endif %}
{{ macros_head::seo(title=title, title_addition=title_addition, description=description, type="website") }}
{% endblock seo %}

{% block content %}
<section class="posts" id="Work">
    <div class="trolling anastasia">
        Projects
        <span class="daniella furry plusone">█</span>
    </div>
    </section>
    
  <section>
      <p>👤: Personal project</p>
      <p>⚙️: Contributoring to</p>
      <p>⚠️: Work in progress</p>
      <p>🪦: Ceased develepment</p>
    </section>
<section>
  <p>
    <a href="https://revolt.chat">Revolt ⚙️</a>
  </p>
<p>
    <a href="https://poketube.fun">Poketube ⚙️</a>
</p>
<p>
    <a href="https://codeberg.org/oomfie/site">Rewrite V6 (This Site) 👤</a>
</p>
<p>
    <a href="https://codeberg.org/oomfie/dotfiles">Dotfiles 👤</a>
</p>
</section>
{% endblock content %}